
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon"><a href="https://google.com" target="_blank">tab</a></mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>view_headline
      </mat-icon>

    </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="nombreUser" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="respuesta">
    You chose: <i>{{respuesta}}</i>
  </li>
</ol>
